<script src="{{url_for('static',filename='bower_components/jquery/dist/jquery.min.js')}}"></script>

 <div class="step_2" id="step_2"  style="display: none">

      <div class="box-header with-border">
        <h3 class="box-title">Step 2 of 2</h3>

      </div>
      <div class="box-body">

      <div class="row">
        <div class="col col-md-2">
          HOSPITAL NAME:
        </div>
        <div class="col col-md-4">
          <!-- <select id="hospital_name" class="form form-control"></select> -->
        </div>
      </div>

      <br> 

      <div class="row">
        <div class="col col-md-2">
          DEPARTMENT NAME:
        </div>
        <div class="col col-md-4">
          <!-- <input type='text' id="department_name" class="form form-control"></input> -->
        </div>
      </div>


      <br>  
       
      <div class="row">
        <div class="col col-md-2">
          EQUIPMENT NAME:
        </div>
        <div class="col col-md-4">
          <!-- <input type="text"  class="form form-control"  id="equipment_name"> -->
        </div>
      </div>

      <br>

       


      <div class="row">
        <div class="col col-md-2">
          MACHINE MODEL :
        </div>
        <div class="col col-md-4">
          <input type='text' id="machine_model" class="form form-control"></input>
        </div>
      </div>


      <br> 

      <div class="row">
        <div class="col col-md-2">
          SERIAL No./ ENGRAVED No.:
        </div>
        <div class="col col-md-4">
          <input type='text' id="serial_number" class="form form-control"></input>
        </div>
      </div>


      <br> 

      <div class="row">
        <div class="col col-md-2">
          SECTION / ROOM:
        </div>
        <div class="col col-md-4">
          <input type='text' id="room_number" class="form form-control"></input>
        </div>
      </div>


      <br> 

      <div class="row">
        <div class="col col-md-2">
         MODEL NUMBER:
        </div>
        <div class="col col-md-4">
          <input type='text' id="sticker_information" class="form form-control"></input>
        </div>
      </div>

      <br> 

      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button class="btn btn-primary"  id="back"> BACK </button>
      </div>

      <div class="box-footer">
        <button class="btn btn-primary"  id="save_hospital"> SAVE </button>
      </div>

    </div>

    <!-- End of step 2 -->



    <script type="text/javascript">
      
    
    </script>