{% extends "mainbase.html" %}

{% block body %}


<!-- Site wrapper -->
<div class="wrapper">

{% include  "menu_and_headers/header.html" %}

  <!-- =============================================== -->

{% include "menu_and_headers/side_menu.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Complaints View
        <small></small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Complaits View List</h3>

        </div>
        <div class="box-body">
         
                <ul class="timeline">


                    {% for complaint in all_complaints %}

                    <li>
                        <!-- timeline icon -->
                        <i class="fa fa-file " id="{{complaint.id}}"></i>
                        <div class="timeline-item" id="complaint_id {{complaint.id}}">
                            <span class="time"><i class="fa fa-clock-o"></i> {{complaint.date.strftime("%H:%M - %d/%m/%Y")}}</span>

                            <h5 class="timeline-header equipmentDetail" style="color: blue">ENDOSOR : {{complaint.endosor.user_name}}<br> <br>[EQUIPMENT :  {{complaint.equipment.name}} | LOCATION : {{complaint.equipment.hospital.name}} ] <br><br>
                            <u> COMPLAINT</u> [ ID : {{complaint.id}} ]</tab>  <i class="badge view_status" style="cursor: pointer"> Status : 
                            <i code_id="complaint_current_status_{{complaint.id}}"> {{complaint.recent_action()}} </i> </i> </h5>

                            <div class="timeline-body">
                               {{complaint.narrative}}
                            </div>

                            <div class="timeline-footer">
                                <a class="btn btn-primary btn-xs"> <i class="fa fa-download"> </i> Download File</a> 
                                <a class="btn btn-success btn-xs view_comments" id="{{complaint.id}}"><span  class="fa fa-comments"> Comments <i class="badge badge-primary" id="comments_counter_{{complaint.id}}">{{complaint.comments.count()}} </i> </span></a> 
                            </div>
                        </div>
                    </li>

                    {% endfor %}
                    <!-- END timeline item -->

                </ul>                          

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->





<div class="modal fade" id="comments_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 id="complaintPreviewEquipment"> </h5>
        <p class="modal-title" id="complaintPreviewNarrative" class="complaintPreviewNarrative"></p>

      </div>
      <div class="modal-body" id="">

        <table class="table" id="">

            <thead>
              <i><u>Comments</u>: <b> <i id="counts_view"></i> </b></i>


          <div class="" id="comments_list">
            <!--  loading comments... -->

          </div>                

            </thead>  

      </table>
      
               
      </div>
      <div class="modal-footer">        
            <div class="col-md-9">
            <input type="text" class="text form form-control" id="narrative">
          </div>
          <div class="col-md-3">            
              <button type="button" class="btn btn-primary post_comment" id=""><span  class="fa fa-comment"> Comment </button>
          </div>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="status_view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 id="status_complaintPreviewEquipment"> </h5>
        <hr>
        <p class="modal-title" id="status_complaintPreviewNarrative" > </p>

      </div>
      <div class="modal-body" id="">

        <table class="table" id="">

            <thead>
              <i><u>Status Actions</u>: <b> <i id="status_counts_view"></i> </b></i>

          <div class="" id="status_list">
            <!--  loading comments... -->

          </div>                

            </thead>  

      </table>      
               
      </div>
      {% if current_user.has_permission(Permission.CAN_CHANGE_STATE) %}
      <div class="modal-footer status_input_form">  

          <div class="col-md-3 col-3">
            <select id="status_options"  class="form-control form">
              <option value="RESOLVED"> RESOLVED </option>
              <option value="CAPTURED"> CAPTURED </option>
              <option value="REVOKED"> REVOKED </option>
              <option value="REOPENED"> REOPENED </option>

            </select>
          </div>      
            <div class="col-md-6">
            <input type="text" class="text form form-control" placeholder="Explain / Comment on the Status" id="narrative">
          </div>
          <div class="col-md-3">            
              <button type="button" class="btn btn-default" id="record_status"><span  class="fa fa-gear"> Record Status </button>
          </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>







<script src="{{url_for('static',filename='bower_components/jquery/dist/jquery.min.js')}}"></script>

<script type="text/javascript">
  
  $(document).ready(function(){
    $('.compaints_view ').addClass('active')
    $('.data_view').addClass('active')
  })
</script>




<script type="text/javascript">



function ajax_post(url, data, success_callback, failure_callback){

        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: success_callback,
            error: failure_callback
        });

}

  
  //  VIEW COMPLAINTS COMMNET


counter_id = ''
comments_counts = ''



  $(".view_comments").on('click', function(){

    var complaint_id = $(this).attr('id')

    $('.post_comment').attr('id', complaint_id)

    $("#comments_view").modal("show")

    $("#comments_list").html("Loading...")


    comments_counts = Number($(this).parents('li').find('.badge').eq(1).text())

    counter_id =  $(this).parents('li').find('.badge').eq(1).attr("id")

    $("#counts_view").html(comments_counts)


    complaint_narrative = $(this).parents('li').find('.timeline-body').eq(0).html()

    equipmentDetail = $(this).parents('li').find('.equipmentDetail').eq(0).html()

    $('#complaintPreviewNarrative').html(complaint_narrative)
    $('#complaintPreviewEquipment').html(equipmentDetail)


    ajax_post("get_comments",
     {'complaint_id': complaint_id},

      function(data){

        $("#comments_list").html("No Comments...")

        if (data.msg == "OKAY"){

          $("#comments_list").html(data.comments)
          
        }
        
      },

      function(){
        $("#comments_list").html("Error")
      }
      );
        
  })











// POST COMMNET


$(".post_comment").on('click', function(){

  narrative = $("#narrative").val()

  complaint_id = $(this).attr('id')

  new_comment =   "<tr> <th width='25%'> {{current_user.user_name}} :  </th> <td>  " + narrative +" </td> </tr>"

  if (narrative == ''){
    return;
  }

  else{

    ajax_post('post_comment', {'complaint_id' : complaint_id, 'narrative': narrative},

        function(data){ 
          // alert(data.resp);

          if(comments_counts == 0 ){$('#comments_list').html("")} // remove the no Comments information

          comments_counts = comments_counts+1

          $('#comments_list').append(new_comment)
          $("#narrative").val("")
          $("#"+counter_id).html(comments_counts)
          $("#counts_view").html(comments_counts)

        },
        function(){alert('Network Error')}

      );    

  }

});





// VIEW STATUS OF THE COMPLAINT


update_status_mode_indicator = function(){

  // update the current class for the individual complaint statuses
  current_statuses = $('.view_status')

  for( status in current_statuses ){

      let status_code = current_statuses.eq(status).find('i').text().trim();

      switch(status_code){
        case 'RESOLVED':
          current_statuses.eq(status).attr('class','view_status badge bg-green')
          break;
        case 'CAPTURED':
          current_statuses.eq(status).attr('class','view_status badge bg-orange')
          break;
        case 'REVOKED':
          current_statuses.eq(status).attr('class','view_status badge bg-red')
          break;    
        case 'REOPENED':
          current_statuses.eq(status).attr('class','view_status badge bg-blue')
          break;      
      }

  }

}


$(update_status_mode_indicator); // this is required when the web has just updated/ loaded



$('.view_status').on('click', function(){

    $('#status_view').modal('show')

    complaint_narrative = $(this).parents('li').find('.timeline-body').eq(0).html()

    equipmentDetail = $(this).parents('li').find('.equipmentDetail').eq(0).html()

    complaint_id = $(this).parents('li').find('.fa-file').eq(0).attr('id')

    $('#status_complaintPreviewNarrative').html(complaint_narrative)

    $('#status_complaintPreviewEquipment').html(equipmentDetail)

    $('#status_options').attr('complaint_id',  complaint_id )

    $('#status_list').html("Loading...")

    ajax_post('get_actions_list',{'complaint_id': complaint_id},

        function(data){

          $("#status_list").html(data.response)

        },
        function(){
            alert("Network error...")
        }

      )

});



$('#record_status').on('click', function(){

  let selected_option = $(this).parents('.status_input_form').find('#status_options').val()

  let complaint_id = Number($(this).parents('.status_input_form').find('#status_options').attr('complaint_id'))

  let comment = $(this).parents('.status_input_form').find('input.text').val()

  let input_field = $(this).parents('.status_input_form').find('input.text')

  let action_data = {'narrative': comment, 'complaint_id': complaint_id, 'action_type':selected_option}

  let status_view_id = $('#status_view').find('[code_id]').attr('code_id')

  new_action =   "<tr> <th width='25%'> {{current_user.user_name}} ["+selected_option+"]:  </th> <td>  " + comment +" </td> </tr>"


  if (comment.length <=15 ){
      alert("Comment Length very short...")
  }

  else{

      ajax_post('add_complaint_action', action_data,

      function(data){ 

          let status_veiw = $('[code_id='+status_view_id+']').html(selected_option)

          $("#status_list").append(new_action)

          input_field.val("") // Empty the input field

          update_status_mode_indicator();    // update the display of the badges    

      },

      function(){alert('Network Error')}

     )

  }

})




</script>


{% endblock %}