{% extends "mainbase.html" %}

{% block body %}


<!-- Site wrapper -->
<div class="wrapper">

{% include  "menu_and_headers/header.html" %}

  <!-- =============================================== -->

{% include "menu_and_headers/side_menu.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       New Hospital / Carecenter Registration
        <small></small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box" id="registrations_box">

        <!-- this is the box for registrations steps -->

        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <script src="{{url_for('static',filename='bower_components/jquery/dist/jquery.min.js')}}"></script>



<div style="display: none;" id="spinner">
    <div class="spinner">
        <div class="row">

            <div class="col-sm-6 col-6">
                <div class="spinner-border text-primary m-5" role="status">
                </div>

            </div>
            <div class="col-sm-6 col-6">
                <br>
                <span class="">Loading...</span>
            </div>



        </div>
    </div>
     <br>   <br>

</div>



<script type="text/javascript">
  



function ajax_post(url, data, success_callback, failure_callback){



        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: success_callback,
            error: failure_callback
        });

}


    $(document).ready(function(){

      $('#registrations_box').html($('#spinner').html())

      $('.forms').addClass('active')
      $('.new_hospital').addClass('active')


      ajax_post(
        '/hospital_management/new_hospital',{'step':'one'}, 
        function(data){$('#registrations_box').html(data.resp)},
        function(){alert('Network Error')}
        )


    })    






  </script>

  
{% endblock %}